{% extends 'base.html.twig' %}
 
{% block title %}{{ 'TITLE_HELP'|trans({}, 'message' ) }}{% endblock %}
 
{% block body %}
    <div class="panel-right-content">
        <div id="admin-header-button">
            <div id="admin-hidden-button">
                <button><a href ="{{ path('app_lexicon') }}" >{{ 'TITLE_LEXICON'|trans({}, 'message' ) }}</a></button>
            </div>
        </div>
        <h1 class="c-blue text-3xl text-center mb-20">{{ 'TITLE_HELP'|trans({}, 'message' ) }}</h1>
        <h2 class="c-blue text-2xl">TEST</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor lectus, mattis id justo non, fringilla posuere massa. Nullam quis consectetur dui, pharetra fermentum purus. Pellentesque a enim eget lacus venenatis efficitur sit amet vitae enim. Pellentesque pulvinar malesuada ante. Suspendisse vel diam nibh. Sed condimentum sapien id ipsum aliquet aliquam. Vestibulum laoreet pellentesque risus ac venenatis. Fusce vel arcu dictum, malesuada mauris id, elementum ante. Fusce accumsan condimentum turpis vel tempor. Nulla commodo leo justo, nec aliquet elit auctor eu. Duis scelerisque vel purus in vestibulum. Nam consectetur efficitur enim, et vehicula purus ultricies nec. Proin non ex non nisl sollicitudin sagittis. Praesent in metus dictum justo porttitor commodo. Integer aliquam in nunc sed malesuada.</p>
        <h2 class="c-blue text-2xl">TEST</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor lectus, mattis id justo non, fringilla posuere massa. Nullam quis consectetur dui, pharetra fermentum purus. Pellentesque a enim eget lacus venenatis efficitur sit amet vitae enim. Pellentesque pulvinar malesuada ante. Suspendisse vel diam nibh. Sed condimentum sapien id ipsum aliquet aliquam. Vestibulum laoreet pellentesque risus ac venenatis. Fusce vel arcu dictum, malesuada mauris id, elementum ante. Fusce accumsan condimentum turpis vel tempor. Nulla commodo leo justo, nec aliquet elit auctor eu. Duis scelerisque vel purus in vestibulum. Nam consectetur efficitur enim, et vehicula purus ultricies nec. Proin non ex non nisl sollicitudin sagittis. Praesent in metus dictum justo porttitor commodo. Integer aliquam in nunc sed malesuada.</p>
        <h2 class="c-blue text-2xl">TEST</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor lectus, mattis id justo non, fringilla posuere massa. Nullam quis consectetur dui, pharetra fermentum purus. Pellentesque a enim eget lacus venenatis efficitur sit amet vitae enim. Pellentesque pulvinar malesuada ante. Suspendisse vel diam nibh. Sed condimentum sapien id ipsum aliquet aliquam. Vestibulum laoreet pellentesque risus ac venenatis. Fusce vel arcu dictum, malesuada mauris id, elementum ante. Fusce accumsan condimentum turpis vel tempor. Nulla commodo leo justo, nec aliquet elit auctor eu. Duis scelerisque vel purus in vestibulum. Nam consectetur efficitur enim, et vehicula purus ultricies nec. Proin non ex non nisl sollicitudin sagittis. Praesent in metus dictum justo porttitor commodo. Integer aliquam in nunc sed malesuada.</p>
        <h2 class="c-blue text-2xl">TEST</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor lectus, mattis id justo non, fringilla posuere massa. Nullam quis consectetur dui, pharetra fermentum purus. Pellentesque a enim eget lacus venenatis efficitur sit amet vitae enim. Pellentesque pulvinar malesuada ante. Suspendisse vel diam nibh. Sed condimentum sapien id ipsum aliquet aliquam. Vestibulum laoreet pellentesque risus ac venenatis. Fusce vel arcu dictum, malesuada mauris id, elementum ante. Fusce accumsan condimentum turpis vel tempor. Nulla commodo leo justo, nec aliquet elit auctor eu. Duis scelerisque vel purus in vestibulum. Nam consectetur efficitur enim, et vehicula purus ultricies nec. Proin non ex non nisl sollicitudin sagittis. Praesent in metus dictum justo porttitor commodo. Integer aliquam in nunc sed malesuada.</p>
    </div>
{% endblock %}
