{% extends 'base.html.twig' %}
 
{% block title %}{{ 'TITLE_USERS'|trans({}, 'message' ) }}{% endblock %}
 
{% block body %}
    <div class="panel-right-content">
        <h1 class="c-blue text-3xl text-center mb-20">{{ 'ADMIN_MANAGE_USERS'|trans({}, 'message' ) }}</h1>
        <div id="admin-panel">
            
        </div>
        
    </div>
{% endblock %}